.content-event{
  margin: auto;
  text-align: center;
  width: 100%;
  background: url(../images/luces.png) no-repeat center;
  background-position: top;
  background-size: contain;
}


.fa-snowflake{
  animation: fall 7s linear forwards;
  color: white;
  position: absolute;
  top:-20px;
}

@keyframes fall {
  to {
    transform: translateY(250vh);
  }
}


.img-event-title{
  padding: 55px 0 40px 0;
}

.img-event-artist{
  padding: 25px 0 40px 0;
}


.img-event-two{
  margin-top: -4px;
}

.img-rotate{
  animation-name: rotarbola;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes rotarbola{
  0%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(2deg);
  }
}


/* style time */

.countdown-container {
	display: flex;
}

.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}

.time h1 {
	margin-bottom: 0;
}

.time small {
	color: #ccc;
}


.content-img-auspi{
  margin: auto;
  text-align: center;
}

.img-ausp{
  padding-bottom: 35px;
}
.content_event-mobile{
  margin: auto;
  text-align: center;
  width: 100%;
  background: url(../images/luces.png) no-repeat center;
  background-position: top;
  background-size: cover;
}

.img-ausp img{
  padding: 0 25px;

}

.estreno-event{
  text-align: center;
}

.estreno-event-content{
  text-align: CENTER;
  display: inline-block;
  border: 2px solid white;
  padding: 13px;
  border-radius: 10px;
  font-size: 36px;
  font-weight: 800;
}
.estreno-event-content p {
  margin: 0;
}



/* style time */
@media only screen and (max-width:1920px) {
  .video-event{
    height: 450px;
  }
}
@media only screen and (max-width:1500px) {
  .video-event{
    height: 380px;
  }
}

@media only screen and (max-width: 1200px){
  .col-video-event { 
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 1024px){
  .col-video-event { 
    max-width: 100% !important;
  }
}

@media only screen and (max-width:576px) {
  .content-event{
    display: none;
  }
  .img-ausp img{
    padding: 0 15px;
  }
  .video-event{
    height: 250px;
  }
  .estreno-event-content{
    font-size: 24px;

  }
}



@media only screen and (min-width:576px) {
  .content_event-mobile{
    
    display: none;
  }
}
@media only screen and (max-width:412px) {
  .estreno-event-content{
    font-size: 24px;
    margin-bottom: 12px;
   }
}